@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

:root {
  --green: #0096c7;
  --grey: #f5f5f5;
  --black: #1b1b1b;
  --main-gray: #303841;
  --main-white: #f0f0f0;
  --yellow: #ed982b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}

html {
  font-size: 62.25%;
}

body {
  font-family: "Poppins", san-serif;
}

/*navbar start*/

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
  background: var(--green);
  padding: 0 3rem 0 7rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

#navbar .list {
  display: flex;
}

#logo {
  font-size: 2.6rem;
  color: var(--yellow);
}

#navbar .list li {
  list-style: none;
  font-size: 1.7rem;
  margin: 0 4rem;
}

#navbar .list li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  letter-spacing: 0.1rem;
  padding: 0.7rem 0.9rem;
  color: var(--yellow);
}

#navbar .list li a:hover {
  background-color: var(--yellow);
  color: var(--green);
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

#check {
  display: none;
}

#menu {
  font-size: 2.2rem;
  display: none;
}

@media (max-width: 940px) {
  .list {
    position: fixed;
    top: 7rem;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: var(--green);
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
  }

  #menu #cancel {
    display: none;
  }

  #check:checked ~ .list {
    left: 0%;
  }

  #check:checked ~ #menu #btn {
    display: none;
  }

  #check:checked ~ #menu #cancel {
    display: block;
  }

  #navbar .list li {
    margin: 3.5rem 0;
  }

  #menu {
    display: block;
    position: relative;
    left: 92%;
  }

  #logo {
    position: relative;
    right: 80%;
  }
}

/*navbar end*/

/*welcome start*/

#welcome-section {
  /*border: 0.2rem solid blue;*/
  width: 100%;
  height: 60rem;
  display: flex;
}

@media (max-width: 940px) {
  #welcome-section {
    flex-direction: column;
  }

  #welcome-section .welcoming {
    width: 100%;
  }

  #welcome-section .svg-section {
    width: 100%;
    display: none;
  }
}

.welcoming {
  /*border: 0.2rem solid green;*/
  width: 50%;
  height: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: slide 1s forwards 0s ease;
}

@keyframes slide {
  0% {
    transform: rotate(0) translateY(-15%);
    opacity: 0;
  }
  100% {
    transform: rotate(0) translateY(0);
    opacity: 1;
  }
}

.welcoming h1 {
  font-size: 4.5rem;
  color: var(--yellow);
}

.welcoming h4 {
  font-size: 2.5rem;
  margin-left: 12rem;
  color: var(--yellow);
}

.svg-section {
  /*border: 0.2rem solid purple;*/
  width: 50%;
  height: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slide 1s forwards 0s ease;
}

/*welcome end*/

/*projects start*/

#projects {
  width: 100%;
  height: 110rem;
  background-color: var(--grey);
}

@media (max-width: 940px) {
  #projects {
    height: 180rem;
  }

  .project-title .image {
    height: 17.8rem;
  }

  #my-projects {
    justify-content: center;
  }

  #button-section {
    position: relative;
    top: 70rem;
  }

  #my-projects .project-title {
    width: 30rem;
    height: 24rem;
    margin-top: 12rem;
  }
}

.project-title {
  width: 40rem;
  height: 34rem;
  margin: 2rem;
  border: 0.4rem solid var(--green);
}

.project-title a {
  text-decoration: none;
}

.project-title:hover {
  cursor: pointer;
}

.project-title:hover .image {
  opacity: 0.6;
}

#heading {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#heading h1 {
  font-size: 3.3rem;
  animation: slide 1s forwards 0s ease;
  color: var(--yellow);
}
#my-projects {
  height: 90rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.line {
  border: 5px solid var(--green);
}

.image {
  height: 28rem;
  width: 55rem;
}

.title {
  width: 56rem;
  height: 6rem;
  background-color: var(--main-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 1rem;
}

.title h1 {
  color: var(--main-white);
  letter-spacing: 0.2rem;
  font-size: 1.8rem;
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.project-title:hover .code {
  color: var(--green);
}

/*button*/

button {
  cursor: pointer;
  font-weight: 700;
  font-family: poppins, "sans-serif";
  transition: all 0.2s;
  padding: 1rem 2rem;
  border-radius: 10rem;
  background: var(--green);
  border: 0.1rem solid transparent;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: var(--yellow);
}

button:hover {
  background: var(--yellow);
  color: var(--green);
}

button > svg {
  width: 3.4rem;
  margin-left: 1rem;
  transition: transform 0.3s ease-in-out;
}

button:hover svg {
  transform: translateX(0.5rem);
}

button:active {
  transform: scale(0.95);
}

#button-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

#button-section a {
  text-decoration: none;
}

/*projects end*/

/*contact start*/

#contact {
  width: 100%;
  height: 51rem;

  display: flex;
  flex-wrap: wrap;
}

.work-box {
  width: 50%;
  height: 51rem;
  background-color: var(--green);

  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 50%, 0% 0%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 940px) {
  .work-box {
    width: 100%;
    clip-path: none;
  }

  #contact .work-svg {
    display: none;
  }

  .icons svg {
    margin-right: 6rem;
    margin-top: 4rem;
    width: 3.5rem;
    height: 3.5rem;
  }
}

.work-svg {
  width: 50%;
  height: 51rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.descript {
  color: var(--yellow);
}

.descript h1 {
  font-size: 5rem;
}

.descript span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.descript span h3 {
  font-size: 2rem;
}

.icons {
  width: 35%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons svg:hover {
  position: relative;
  bottom: 0.6rem;
  cursor: pointer;
}

/*contact end*/

/*footer start*/
#footer {
  width: 100%;
  height: 10rem;

  display: flex;
  color: var(--yellow);
  letter-spacing: 0.1rem;
}

@media (max-width: 940px) {
  #footer .one {
    margin-left: 1rem;
  }
  #footer .two {
    margin-left: 3rem;
  }
}

#footer .one,
#footer .two {
  width: 50%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.one p,
.two p {
  font-size: 1.3rem;
}

hr {
  border: 0.2rem solid var(--yellow);
  height: 0.8rem;
  background-color: var(--yellow);
}